

.swiper-button-next:after,
.swiper-button-prev:after {
    color: #FFC85E !important;
    background-color: white;
    font-size: 20px !important;
    padding: 20px 25px;
    border-radius: 50%;
    position: absolute;
}

.swiper-button-next:after {
    right: -35px;
}

.swiper-button-prev:after {
    left: -35px;
}

.swiper-pagination-bullet {
    width: 17px !important;
    border-radius: 10px !important;
}

.swiper-pagination-bullet-active {
    width: 26px !important;
    background: white !important;
}